<!DOCTYPE html>
<html lang="es">

<head>

<meta charset="UTF-8">

<title>Calculadora de Ondulación Geoidal</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>


<body>


<div class="contenedor">


<h1>Calculadora de Ondulación Geoidal</h1>

<h2>Proyecto Final - Geodesia Geométrica</h2>



<form method="POST">


<label>Sistema de coordenadas</label>


<select name="sistema" id="sistema" onchange="cambiarSistema()">


<option value="geo">
Geográficas (Latitud / Longitud)
</option>


<option value="9377">
EPSG:9377 - MAGNA-SIRGAS Origen Único Nacional
</option>


<option value="6249">
EPSG:6249 - MAGNA-SIRGAS Cali Urban Grid
</option>


</select>

<div id="formato_div">

<label>Formato de coordenadas</label>

<select name="formato" id="formato" onchange="cambiarFormato()">

<option value="decimal">
Grados Decimales (DD)
</option>

<option value="gms">
Grados Minutos Segundos (GMS)
</option>

</select>

</div>


<label>Modelo Geoidal</label>


<select name="modelo">


<option value="Geocol 2004">
Geocol 2004 (Nacional)
</option>


<option value="GeoValle 2015">
GeoValle 2015 (Valle del Cauca)
</option>


</select>


<div id="decimal_div">

<label id="lbl1">
Latitud
</label>


<input
type="number"
step="any"
name="coord1"
id="coord1"
required>




<label id="lbl2">
Longitud
</label>


<input
type="number"
step="any"
name="coord2"
id="coord2"
required>

</div>

<div id="gms_div" style="display:none;">

<h4>Latitud</h4>

<input type="number" name="lat_g" placeholder="Grados">
<input type="number" name="lat_m" placeholder="Minutos">
<input type="number" step="any" name="lat_s" placeholder="Segundos">

<select name="lat_h">
    <option value="N">Norte</option>
    <option value="S">Sur</option>
</select>

<br><br>

<h4>Longitud</h4>

<input type="number" name="lon_g" placeholder="Grados">
<input type="number" name="lon_m" placeholder="Minutos">
<input type="number" step="any" name="lon_s" placeholder="Segundos">

<select name="lon_h">
    <option value="O">Oeste</option>
    <option value="E">Este</option>
</select>

</div>

<label>
Altura Elipsoidal h (m)
</label>


<input
type="number"
step="any"
name="altura"
required>



<button type="submit">

Calcular Ondulación

</button>


</form>





{% if error %}


<div class="resultado error">

<h3>
{{error}}
</h3>


</div>


{% endif %}



{% if N is not none %}

<div class="resultado">

<h2>Resultados del cálculo</h2>

<hr>

<p>
<b>Modelo geoidal:</b>
{{ modelo }}
</p>

<p>
<b>Latitud:</b>
{{ latitud }}°
</p>

<p>
<b>Longitud:</b>
{{ longitud }}°
</p>

<p>
<b>Coordenadas GMS:</b>
</p>

<p>
<b>Latitud:</b>
{{ lat_gms }}
</p>

<p>
<b>Longitud:</b>
{{ lon_gms }}
</p>

<p>
<b>Altura elipsoidal (h):</b>
{{ h }} m
</p>

<p>
<b>Ondulación geoidal (N):</b>
{{ N }} m
</p>

<p>
<b>Altura ortométrica (H=h-N):</b>
{{ H }} m
</p>

<p>
<b>Modelo generado:</b>
{{ fecha_modelo }}
</p>

</div>

{% endif %}




</div>





<footer>

<hr>

<p>
Proyecto Final - Geodesia Geométrica
</p>

<p>
Universidad del Valle
</p>

<p>
Ingeniería Geomática
</p>


</footer>





<script>


function cambiarSistema(){

let sistema =
document.getElementById("sistema").value;

let lbl1 =
document.getElementById("lbl1");

let lbl2 =
document.getElementById("lbl2");

let formato =
document.getElementById("formato_div");

if(sistema=="geo"){

formato.style.display="block";

lbl1.innerHTML="Latitud (°)";

lbl2.innerHTML="Longitud (°)";

}
else{

formato.style.display="none";

lbl1.innerHTML="Norte (m)";

lbl2.innerHTML="Este (m)";

}

cambiarFormato();

}

function cambiarFormato(){
    
alert("Entró a cambiarFormato");

let formato =
document.getElementById("formato").value;

let decimal =
document.getElementById("decimal_div");

let gms =
document.getElementById("gms_div");

let coord1 =
document.getElementById("coord1");

let coord2 =
document.getElementById("coord2");

// Campos GMS
let lat_g = document.getElementsByName("lat_g")[0];
let lat_m = document.getElementsByName("lat_m")[0];
let lat_s = document.getElementsByName("lat_s")[0];

let lon_g = document.getElementsByName("lon_g")[0];
let lon_m = document.getElementsByName("lon_m")[0];
let lon_s = document.getElementsByName("lon_s")[0];

if(formato=="decimal"){

    decimal.style.display="block";
    gms.style.display="none";

    coord1.required=true;
    coord2.required=true;

    lat_g.required=false;
    lat_m.required=false;
    lat_s.required=false;

    lon_g.required=false;
    lon_m.required=false;
    lon_s.required=false;

}
else{

    decimal.style.display="none";
    gms.style.display="block";

    coord1.required=false;
    coord2.required=false;

    lat_g.required=true;
    lat_m.required=true;
    lat_s.required=true;

    lon_g.required=true;
    lon_m.required=true;
    lon_s.required=true;

}

}

cambiarSistema();
cambiarFormato();
</script>



</body>


</html>